@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

@font-face {
  font-family: "cabin-regular";
  src: url("../assets/fonts/cabin/Cabin-Regular.ttf");
}

@font-face {
  font-family: "cabin-bold";
  src: url("../assets/fonts/cabin/Cabin-Bold.ttf");
}

body {
  color: rgb(var(--foreground-rgb));
  background: #36BA98;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
